/* GLOBAL STYLES */

body{
    background-color: #000929;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
    color: white;
}
  
/* TYPOGRAPHY */

h1 {
    font-family: "Marmelad";
    font-size: 54px;
    font-weight: 400;
    color: white;
    z-index: 2;
}

h2 {
    font-family: "Marmelad";
    font-size: 45px;
    font-weight: 400;
    color: #D6E2F1;
    margin: 0px;
}

h3 {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 600;
    color: #D6E2F1;
    margin: 0px;
}

h4 {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 600;
    color: #D6E2F1;
    margin: 0px;
}

p {
    font-family: "Inter";
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
    color: white;
}

.p-sm {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.p-med {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.all-caps {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.title-line {
    width: 100%;
    padding: 0px 0px 0px 24px;
    border-left: 5px solid #F47420;
}

.graphic-txt {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    color: #D6E2F1;
    text-transform: uppercase;
}

/* BUTTONS */

.btn-light {
    background-color: #D6E2F1;
    padding: 16px 28px;
    width: 170px;
    color: black;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    border-style: none;
    z-index: 2;
    cursor: pointer;
}

.btn-light:hover {
    background-color: #F47420;
    color: white;
}

.btn-dark {
    background-color: #000929;
    padding: 16px 28px;
    height: 50px;
    width: 152px;
    color: white;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    border-style: none;
}

.btn-orange {
    background-color: #F47420;
    padding: 16px 28px;
    height: 60px;
    color: white;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    border-style: none;
}

.btn-transparent {
    border: 2px solid #F47420;
    width: 358px;
    height: 150px;
    padding: 22px 37px;
    border-radius: 10px;
}

/* FORM */
.form-label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.newsletter-form {
    display: flex;
    gap: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-field {
    flex: 1;
    padding: 8px;
    font-size: 14px;
}

.form-button {
    background-color: #04387C;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

/* MARGIN & PADDING */
.margin-default {
    margin: 0 80px;
}

.padding-145 {
    padding: 145px 0px 0px 0px;
}

.padding-85 {
    padding: 85px 0;
}

/* LAYOUT */
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 218px;
    flex-wrap: wrap;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.flex-row-center-footerc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
}

.flex-column-left-footerl {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER */
#be-logo {
    width: 70px;
}

#top-nav ul {
    padding: 60px;
    z-index: 2;
}

#top-nav li {
    list-style-type: none;
    margin-right: 24px;
    padding-bottom: 4px;
    display: inline;
    z-index: 2;
}

#top-nav li:hover {
    background-color: #F47420;
    padding: 4px 5px;
    z-index: 2;
}

.header-nav{
    grid-row: 1 / span 1;
}

/* HERO */
#hero-img {
    background-image: url(../images/homepage-heroimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, space, content */
    position: relative; 
    height: 832px;
    color: white; /* For text visibility over the image */
}

.hero-content {
    grid-row: 3; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Push items upwards */
    padding: 30px 60px 100px; /* Adjust padding for better spacing */
    z-index: 2;
    flex-wrap: wrap;
}


.hero-txt {
    font-size: 30px;
    width: 60%;
}

.gradient {
    background: linear-gradient(to top, #000929 0%, transparent 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* EMPOWERING CYCLING */
.pink-logo {
    height: 390px;
}

.empowering-txt {
    width: 600px;
}

/* WAYS TO SUPPORT */
.icon-img {
    height: 65px;
}

/* BLOG */
.blog-img {
    width: 455px;
}

.masked-rectangle {
    width: 455px;
    height: 330px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.masked-rectangle img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
}

.footer-1 {
    width: 100%;
    padding: 24px 0px 70px 0px;
    border-top: 2px solid #3C3B3B;
}

/* FOOTER */
/* Footer Styles */
.footer {
    background-color: #000929;
    color: #959595;
}

/* Footer 2 - left */
.footer2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding: 70px;
    border-top: 2px solid #3C3B3B;
}

.footer-newsletter {
    font-family: "Inter", sans-serif;
}

/* Footer 2 - Centre */
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: row;
    text-align: start;
    margin-bottom: 20px;
}

.social-media img {
    margin: 15px 5px;
    width: 40px;
    height: 40px;
}

.p-sm{
    margin: 0;
    padding: 0;
}

/* Footer 2 - right */
.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    text-decoration: none;
    color: #D6E2F1;
    font-size: 14px;
}

footer li {
    margin-bottom: 10px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    color: #959595;
}

.hidden-desktop {
    display: none;
}

@media screen and (max-width: 480px) {

    .hidden-mobile {
        display: none;
    }

    .hidden-desktop {
        display: flex;
    }
    
    /* LAYOUT */

    .flex-row-around li {
        width: 45%;  /* Adjust width to fit two tiles per row */
        margin-bottom: 35px;  /* Add space between the rows */
    }

    /* PADDING */
    .padding-145 {
        padding: 50px 0px 0px 0px; /* Reduce top padding for mobile */
    }

    /* HERO */
    #hero-img {
        height: 600px; /* Adjust height for smaller screens */
        background-position: top; /* Focus on the top part if needed */
    }

    .hero-content {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align text and button to the left */
    }

    .hero-txt {
        width: 100%; /* Take full width on smaller screens */
        margin-bottom: 20px; /* Add spacing between text and button */
    }

    .hero-content button {
        margin-left: 0; /* Center button under text */
        align-self: flex-start; /* Align button to match text position */
    }

    /* EMPOWERING */
    .pink-logo {
        height: 200px; /* Reduce the height for smaller screens */
        width: auto; /* Maintain aspect ratio */
    }

    .empowering-txt {
        width: 100%; /* Adjust text width to fit smaller screens */
    }

    .flex-row-around {
        flex-direction: column; /* Stack image and text vertically */
        text-align: center; /* Center-align the content for better appearance */
    }

    .flex-column-left {
        align-items: center; /* Center text alignment */
    }

    /* TYPOGRAPHY */
    h1 {
        font-size: 32px; /* Reduced from 54px */
    }

    h2 {
        font-size: 28px; /* Reduced from 45px */
    }

    h3, h4 {
        font-size: 20px; /* Reduced from 30px */
    }

    p {
        font-size: 18px; /* Reduced from 26px */
        line-height: 140%; /* Adjusted line height */
    }

    .p-sm {
        font-size: 10px; /* Reduced from 12px */
    }

    .p-med {
        font-size: 14px; /* Reduced from 16px */
    }

    .all-caps {
        font-size: 12px; /* Reduced frm 15px */
    }

    .graphic-txt {
        font-size: 40px; /* Reduced from 64px */
    }
}