/* GLOBAL STYLES */

body{
    background-color: #000929;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
    color: white;
}
  
/* TYPOGRAPHY */

h1 {
    font-family: "Marmelad";
    font-size: 54px;
    font-weight: 400;
    color: white;
    z-index: 2;
}

h2 {
    font-family: "Marmelad";
    font-size: 45px;
    font-weight: 400;
    color: #D6E2F1;
    margin: 0px;
}

h3 {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 600;
    color: #D6E2F1;
    margin: 0px;
}

h4 {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 600;
    color: #D6E2F1;
    margin: 0px;
}

p {
    font-family: "Inter";
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
    color: white;
}

.p-sm {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.p-med {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.all-caps {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.title-line {
    width: 100%;
    padding: 0px 0px 0px 24px;
    border-left: 5px solid #F47420;
}

.graphic-txt {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    color: #D6E2F1;
    text-transform: uppercase;
}

/* BUTTONS */

.btn-light {
    background-color: #D6E2F1;
    padding: 16px 28px;
    width: 170px;
    color: black;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    border-style: none;
    z-index: 2;
    cursor: pointer;
}

.btn-light:hover {
    background-color: #F47420;
    color: white;
}

.btn-dark {
    background-color: #000929;
    padding: 16px 28px;
    height: 50px;
    width: 152px;
    color: white;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    border-style: none;
    z-index: 2;
    cursor: pointer;
}
.btn-dark:hover {
    background-color: #FDE0DA;
    color: black;
}

.btn-orange {
    background-color: #F47420;
    padding: 16px 28px;
    height: 60px;
    color: white;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    border-style: none;
    cursor: pointer;
}

.btn-orange:hover {
    background-color: #04387C;
    color: white;
}

.btn-transparent {
    border: 2px solid #F47420;
    width: 340px;
    height: 150px;
    padding: 22px 37px;
    border-radius: 10px;
}

/* FORM */
.form-label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.newsletter-form {
    display: flex;
    gap: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-field {
    padding: 8px;
    font-size: 14px;
}

.form-button {
    background-color: #04387C;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

/* MARGIN & PADDING */
.margin-default {
    margin: 0 80px;
}

.padding-145 {
    padding: 145px 0px 0px 0px;
}

.padding-85 {
    padding: 85px 0;
}

/* LAYOUT */
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: space-center;
    align-items: start;
    gap: 150px;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.flex-row-center-footerc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
}

.flex-column-left-footerl {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

/* HEADER */
#be-logo {
    width: 70px;
    z-index: 10;
}

#top-nav ul {
    padding: 60px;
    z-index: 2;
}

#top-nav li {
    list-style-type: none;
    margin-right: 24px;
    padding-bottom: 4px;
    display: inline;
    z-index: 2;
}

#top-nav li:hover {
    background-color: #F47420;
    padding: 4px 5px;
    z-index: 2;
}

.header-nav{
    grid-row: 1 / span 1;
}

/* HERO */
#hero-img {
    background-image: url(../images/homepage-heroimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    position: relative; 
    height: 832px;
    color: white;
}

.hero-content {
    grid-row: 3; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 80px 100px;
    z-index: 2;
    flex-wrap: wrap;
}


.hero-txt {
    font-size: 30px;
    width: 60%;
    z-index: 2;
}

.gradient {
    background: linear-gradient(to top, #000929 0%, transparent 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* EMPOWERING CYCLING */
.pink-logo {
    height: 390px;
}

.empowering-txt {
    width: 600px;
}

/* CATEGORY TILES */

.index-tiles-grid {
    height: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    place-items: center;
    text-align: center;
    column-gap: 20x;
    row-gap: 70px;
}

.tile-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.masked-tile {
    width: 100%;
    height: auto;
    display: block;
}

.masked-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 1, 44, 0.33); 
    border-radius: 10px; 
    z-index: 1;
}
.tile-text {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 35px;
    font-weight: 300;
    z-index: 2;
    text-align: center;
    padding: 5px 10px;
}

.tile1 {
    grid-column: 1;
    grid-row: 1;
}
.tile2 {
    grid-column: 2;
    grid-row: 1;
}
.tile3 {
    grid-column: 3;
    grid-row: 1;
}
.tile4 {
    grid-column: 4;
    grid-row: 1;
}

/* WAYS TO SUPPORT */
.icon-img {
    height: 65px;
}

/* BLOG */
.blog-img {
    width: 455px;
}

.masked-rectangle {
    width: 455px;
    height: 330px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.masked-rectangle img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
}

/* FOOTER */
.footer {
    background-color: #000929;
    color: #959595;
}

.footer-1 {
    width: 100%;
    padding: 24px 0px 70px 0px;
    border-top: 2px solid #3C3B3B;
}

/* Footer 2 - left */
.footer2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding: 70px;
    border-top: 2px solid #3C3B3B;
}

.footer-newsletter {
    font-family: "Inter", sans-serif;
}

/* Footer 2 - Centre */
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: row;
    text-align: start;
    margin-bottom: 20px;
}

.social-media img {
    margin: 15px 5px;
    width: 40px;
    height: 40px;
}

.p-sm{
    margin: 0;
    padding: 0;
}

/* Footer 2 - right */
.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    text-decoration: none;
    color: #D6E2F1;
    font-size: 14px;
}

footer li {
    margin-bottom: 10px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    color: #959595;
}

.hidden-desktop {
    display: none;
}

@media screen and (max-width: 1023px) {

    .hidden-mobile {
        display: none;
    }

    .hidden-desktop {
        display: flex;
    }

    #hamburger-nav {
        margin: 0 80px;
    }
    
    /* LAYOUT */

    .flex-row-around li {
        width: 45%;
        margin-bottom: 35px;
    }

    .flex-row-around {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .flex-row-around li {
        width: 90%;
        max-width: 350px;
    }

    .flex-row-evenly {
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }

    .flex-column-left {
        align-items: center;
    }

    .flex-row-start {
        gap: 30px;
    }

    .flex-column-left h1 {
        font-size: 22px;
    }

    /* PADDING & MARGIN*/
    .padding-145 {
        padding: 50px 0px 0px 0px;
    }

    .margin-default{
        margin: 0 30px;
    }

    /* HERO */
    #hero-img {
        height: 600px;
        background-position: top;
    }

    .hero-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-txt {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-content button {
        margin-left: 0;
        align-self: flex-start;
    }

    /* EMPOWERING */
    .pink-logo {
        height: 200px;
        width: auto;
    }

    .empowering-txt {
        width: 100%;
    }

    .blog-img {
        width: 100%;
        max-width: 320px;
    }

    .masked-rectangle {
        max-width: 320px;
    }

    /* TYPOGRAPHY */
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3, h4 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
        line-height: 140%;
    }

    .p-sm {
        font-size: 10px;
    }

    .p-med {
        font-size: 14px;
    }

    .all-caps {
        font-size: 12px;
    }

    .graphic-txt {
        font-size: 40px;
    }

    /* TILES */
    .index-tiles-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        row-gap: 30px;
        text-align: center;
    }

    .tile-text {
        font-size: 20px;
        bottom: 10px;
        font-weight: 500;
    }

    .masked-tile img {
        height: 100%;
    }

    .tile-content {
        height: 250px;
    }

    /* FOOTER */
    .footer-1 {
        padding: 24px 0px 50px 0px;
        text-align: center;
    }

    /* Footer 2 */
    .footer2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }

    /* Footer 2 - left*/
    .footer-newsletter {
        text-align: center;
    }

    .footer-newsletter form {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin: 20px 0;
    }

    .footer-newsletter .form-field {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
    }

    /* Footer 2 - center */
    .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .contact-info p {
        text-align: center;
    }

    .social-media {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .social-media img {
        margin: 10px 5px;
    }

    /* Footer 2 - right */
    .footer-links {
        display: none;
    }

}

/* LAPTOP */

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .hidden-mobile {
        display: flex;
    }

    .hidden-desktop {
        display: none;
    }

    .header-nav {
        padding: 0 10px;
    }

    /* Top Nav */
    #top-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #be-logo img {
        height: 40px;
    }

    #top-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }

    #top-nav ul li {
        margin: 0 10px;
    }

    #top-nav ul li a {
        font-size: 12px;
    }

    #top-nav button.btn-dark {
        width: 100px;
        padding: 8px 10px;
        font-size: 12px;
    }

    .margin-default {
        margin: 0 20px;
    }
}